.learnerby-home-mentor-section {
  margin-top: 9rem;
  margin-bottom: 10rem;
}
.learnerby-home-mentor-section-title {
  color: black;
  text-align: center;
  font-size: 2rem;
  text-align: center;
  text-wrap: wrap;
}
.learnerby-home-mentor-section-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}
.learnerby-home-mentor-section-card {
  margin-bottom: 2rem;
  cursor: pointer;
  width: 17rem;
}
.learnerby-home-mentor-section-top {
  /* background-color: #e7e7e7; */
  width: 17rem;
  height: 19rem;
  margin-bottom: 14px;
}
.learnerby-home-mentor-section-top-img {
  border-radius: 10px;
  width: 100%;
  height: 19rem;
  object-fit: cover;
}
.learnerby-home-mentor-section-bottom {
}
.learnerby-home-mentor-section-bottom-rating-review {
  margin-bottom: 8px;
}
.learnerby-home-mentor-section-bottom-rating-review .star {
  color: #ffdf07;
  margin-right: 7px;
}
.learnerby-home-mentor-section-bottom-rating-review-star-number {
  font-weight: bold;
  margin-right: 23px;
}
.learnerby-home-mentor-section-bottom-rating-review-reviews {
}
.learnerby-home-mentor-section-bottom-tagline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-wrap: wrap;
  margin-bottom: 8px;
}
.learnerby-home-mentor-section-bottom-price {
  font-weight: bold;
}
